* {
  margin: 0px;
  padding: 0px;
}
.logo {
  margin: 0 0 0 5%;
}
.logo img {
  height: 40px;
  display: block;
  padding: 1em;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #43cea2 0%, #185a9d 100%);
}

.navigation {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding-right: 3em;
  padding-left: 1em;
}
.logo,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}
.navigation a {
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:hover {
  background: #2f80ed;
}

input {
  height: 20px;
  border-radius: 10px;
  margin: 10% 0 0 0;
  border-color: #2f80ed;
  text-indent: 4%;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #2f80ed;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 20px;
  line-height: 24px;
}

#img-header {
  max-height: 470px;
  margin-top: 10%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  margin-top: 2%;
  border-width: 0px;
  width: 200px;
  padding: 2%;
  background: linear-gradient(90deg,  #43cea2 0%, #185a9d 100%);
  border-radius: 100px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}

.filterOptionBody,
nav-flex {
  margin: auto;
  width: 90%;
}
.filterOption,
.filterOption .filterOptionBody {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: #f2f2f2;
}
.filterOption {
  display: none;
}
#search {
  display: none;
}
select {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
}
.viewCard {
  width: 90%;
  margin: auto;
}
.viewCardCreate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemsPoke {
  width: 180px;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 1.94667px 2.92px 3.89333px rgba(0, 0, 0, 0.25);
  border-radius: 9.73333px;
  margin: 40px;
  border: #329fa0 solid 2.5px;
}
.itemsPoke:hover {
 height: 120%;
  width: 200px;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(180deg, #e0d9d9 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 1.94667px 2.92px 3.89333px rgba(0, 0, 0, 0.25);
  border-radius: 9.73333px;
  margin: 40px;
  border: #8fda9f solid 2.5px;
  transform: scale(1.1);
}

/* Inicio Modal*/
/* Fondo del la Tarjeta de Caracteristicas Adicionales */

#principalModal {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  padding-top: 8.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.75);
}
.cardContent {
  width: 60vw;
  height: 75vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.close {
  text-align: right;
  color: black;
  font-size: 20px;
  margin: 15px;
}

.tarjetaPrincipal {
  display: flex;
    width: 75%;
    height: 85%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A8DD9C;
    border-radius: 15px;
    flex-direction: column;
}
.derecha {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.izquierda {
  display: flex;


}
.caracteristicasSecundarias,
.debilidades {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.caracteristicasSecundarias {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.caracteristicaPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:30px;
}

.debilidades {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor {
  display: flex;
  flex-direction: row;
  height: 70%;
}
.fondo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.caracteristicaPrincipal p,
.caracteristicasSecundarias p,
.debilidades p,
.subFondo p {
  color: black;
  font-size: 20px;
}
.caracteristicaPrincipal img {
  width: 150px;
  height: auto;
}

/*Bordes Card*/
.cardGrass .itemsPoke{
border: #03b246 solid 1px;
}  
.cardPoison .itemsPoke{
border: #ee00d0 solid 2.5px;
}
.cardNormal .itemsPoke{
border: #dadada solid 2.5px;
}
.cardFire .itemsPoke{
border: #fa0a03 solid 2.5px;
}
.cardWater .itemsPoke{
border: #159bd8 solid 2.5px;
}
.cardIce .itemsPoke{
border: #b4f8d0 solid 2.5px;
}
.cardGround .itemsPoke{
border: #ffc101 solid 2.5px;
}
.cardRock .itemsPoke{
border: #d28f00 solid 2.5px;
}
.cardBug .itemsPoke{
border: #6ed142 solid 2.5px;
}
.cardElectric .itemsPoke{
border: #fffd00 solid 2.5px;
}
.cardFighting .itemsPoke{
border: #e00001 solid 2.5px;
}
.cardFlying .itemsPoke{
border: #00b1f4 solid 2.5px;
}
.cardPsychic .itemsPoke{
border: #ff389d solid 2.5px;
}
.cardGhost .itemsPoke{
border: #001a61 solid 2.5px;
}
.cardDragon .itemsPoke{
border: #7e2ea1 solid 2.5px;
}
 /*Borde Hover*/
 .cardGrass .itemsPoke:hover{
  border: #03b246 solid 1px;
  }  
  .cardPoison .itemsPoke:hover{
  border: #ee00d0 solid 2.5px;
  }
  .cardNormal .itemsPoke:hover{
  border: #dadada solid 2.5px;
  }
  .cardFire .itemsPoke:hover{
  border: #fa0a03 solid 2.5px;
  }
  .cardWater .itemsPoke:hover{
  border: #159bd8 solid 2.5px;
  }
  .cardIce .itemsPoke:hover{
  border: #b4f8d0 solid 2.5px;
  }
  .cardGround .itemsPoke:hover{
  border: #ffc101 solid 2.5px;
  }
  .cardRock .itemsPoke:hover{
  border: #d28f00 solid 2.5px;
  }
  .cardBug .itemsPoke:hover{
  border: #6ed142 solid 2.5px;
  }
  .cardElectric .itemsPoke:hover{
  border: #fffd00 solid 2.5px;
  }
  .cardFighting .itemsPoke:hover{
  border: #e00001 solid 2.5px;
  }
  .cardFlying .itemsPoke:hover{
  border: #00b1f4 solid 2.5px;
  }
  .cardPsychic .itemsPoke:hover{
  border: #ff389d solid 2.5px;
  }
  .cardGhost .itemsPoke:hover{
  border: #001a61 solid 2.5px;
  }
  .cardDragon .itemsPoke:hover{
  border: #7e2ea1 solid 2.5px;
  }


/* Fin Modal*/

@media all and (max-width: 990px) {
  .nav-flex {
    flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  input {
    margin: 2% 0 2% 25%;
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  #filterOption,
  #filterOption .filterOptionBody {
    flex-direction: column;
  }
  #img-box {
    display: none;
  }
  #info {
    flex-direction: column;
    max-width: 90%;
    margin-top: 5%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}